* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  .ant-menu-item-selected {
    background-color: #8eb3e6 !important;
    padding: 0;

    > span {
      color: black;

      > svg {
        color: black;
      }
    };


  }

  .ant-menu-item {
    padding: 0;
  }

  input, textarea {
    background-color: white !important;
  }

  .ant-select-selector {
    background-color: white !important;
  }
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
}
